@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #0c0c0c;
  padding: 0 50px;
  color: #fff;
}
.logo {
  padding: 8px 10px;
  font-weight: 700;
  background-color: #cc0000;
}
.left {
  display: flex;
  align-items: center;
}
.right {
  display: flex;

  align-items: center;
}
.right span {
  padding: 0px 15px;
}
.right span:nth-child(1) {
  display: flex;

  align-items: center;
}
.glyphicon {
  font-size: 1.1em;
}
.navigation span {
  margin-left: 15px;
  font-size: 0.9em;
  cursor: pointer;
}
.headlines {
  margin: 10px 0;
  text-align: center;
  font-size: 0.9em;
  font-weight: 600;
}
.trending {
  color: #e72727;
}
.link {
  padding: 5x;
  padding-right: 0;
  cursor: pointer;
}
.link::after {
  content: "|";
  padding: 5px;
}
.news-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
h1 {
  cursor: pointer;
}
h1:hover {
  color: #e72727;
}
h3 {
  font-weight: 600;
}

.width-460 {
  width: 460px;
}
.width-300 {
  width: 300px;
}
.width-350 {
  width: 350px;
}
.news {
  margin: 0 20px;
}
.related-news {
  display: flex;
  align-items: center;
  font-weight: 100;
  border-top: 1px solid #333333;
  padding: 5px 0;
  font-size: 0.9em;
  cursor: pointer;
}
.related-news:hover,
p:hover,
h3:hover {
  color: #e72727;
}
.highlighter {
  background-color: #f2f2f2;
  color: #404040;
  padding: 10px 10px 5px 10px;
  font-weight: 600;
}
img {
  width: 100%;
}
.small-inline-img {
  margin: 3px;
  width: 75px;
  height: 75px;
}
.big-inline-img {
  margin: 3px;
  width: 180px;
  height: 103px;
}
.bigger-txt {
  font-size: 1.3em;
}
footer {
  background-color: #0c0c0c;
  color: #fff;
  padding: 50px;
}
input {
  width: 100%;
  padding-left: 10px;
  margin-bottom: 40px;
  color: #404040;
}
.footer-row {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

  /* 160 */
}
.footer-row span div {
  margin: 3px 20px;
}
.footer-row span div:nth-child(1) {
  margin: 20px;
}
